<!-- Slider -->
<div class="col-md-12">
    <div class="slider">
        <ul class="bxslider">
            <li>
                <a href="#">
                    <img src="/images/slide-3.jpg" alt=""/>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/images/slide-2.jpg" alt=""/>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/images/slide-1.jpg" alt=""/>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- End Slider -->